<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="haojima,好记吗,找工作,各大招聘网站,招聘网信息查询,各大招聘网站信息实时查询浏览" />
    <meta name="description" content="haojima.net,好记吗？据说聪明的人三秒钟就能记住，非常聪明的人一秒钟就能记住。您记住了吗？" />
    <link rel="shortcut icon" href="http://haojima.net/Imgs/bubble_message_hi_24px_1189254_easyicon.net.png" />
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    @RenderSection("RenStyle", required: false)
</head>
<body>
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <style type="text/css">
        .clearfix {
            overflow: auto;
            _height: 1%;
        }

        * {
            /*padding: 0px;*/ /*这里会影响百度编辑器的 序列*/
            margin: 0px;
            box-sizing: border-box; /*设置元素边框为 内容 + padding + 边框的宽度（不包括margin）;
        [如果默认不设置此属性的话 那么宽度仅仅只是 元素里面的内容宽度] */
        }

        body {
            background-color: #f8f8f8;
        }
    </style>
    @RenderBody()

    @*@Scripts.Render("~/bundles/jquery")*@
    @RenderSection("scripts", required: false)

    <div style="display: none">
        <script type="text/javascript">
            var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cspan id='cnzz_stat_icon_1254624500'%3E%3C/span%3E%3Cscript src='" +
                cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1254624500' type='text/javascript'%3E%3C/script%3E"));

        </script>

        <script type="text/javascript">
            var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cspan id='cnzz_stat_icon_1254829001'%3E%3C/span%3E%3Cscript src='"
                + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1254829001' type='text/javascript'%3E%3C/script%3E"));
        </script>
    </div>
</body>
</html>
